.input-block {
  position: relative;
}

.input-block + .input-block {
  margin-top: 1.4rem;
}

.input-block label {
  font-size: 1.4rem;
}

.input-block input {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
}

.input-block:focus-within::after {
  width: calc(100% - 3.2rem);
  height: 2px;
  content: "";
  background: var(--color-primary-light);
  position: absolute;
  left: 1.6rem;
  right: 1.6rem;
  bottom: 0;
}

/*  Input with Label*/

.input-block-label {
  position: relative;
}

.input-block-label input {
  border: 1px solid #e6e6f0;
  border-radius: 8px 8px 0px 0px;
  height: 7rem;
  font-size: 2rem;
  padding: 10px;
  display: block;
  width: 100%;
  border: none;
}


.input-block-label input:focus {
  outline: none;
}

/* LABEL ======================================= */
.input-block-label label {
  color: #999;
  font-size: 2rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 25px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.input-block-label input:focus ~ label,
.input-block-label input:valid ~ label {
  top: 0px;
  left: 10px;
  font-size: 14px;
  color: #4155a5;
}

.input-block-label:focus-within::after {
  content: "";
  height: calc(100% - 1.5rem);
  width: 4px;
  background: var(--color-primary-light);
  position: absolute;
  top: 1rem;
  bottom: 1.6rem;
  left: 0;
}
